@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    color: #fff;
}

.navLinks a{
    position: relative;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}